

body {
  background-color: #ECEFF1;
  color: #283593;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik Mono One', sans-serif;
}

div, p, span {
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

header {
  margin-top: 50px;
  margin-bottom: 25px;
}

header .container {
  border-bottom: 2px solid #283593;
}

header h2 {
  margin-left: 10px;
  margin-right: 10px;
}

button {
  background-color: #283593;
  border-radius: 5px;
  color: #E8EAF6;
  font-family: 'Rubik Mono One', sans-serif;
  border: none;
  transition: all 0.25s ease;
  font-size: 14px;
}

button:hover {
  background-color: #1A237E;
  color: white;
}

input, input[type="text"], input[type="text"]:focus {
  border: none;
}

form {
  margin-bottom: 0px;
}

header {
  text-align: center;
}

header p {
  font-size: 24px;
}

.bingo-row {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 0px;
}

.bingo-column {
  width: 10%;
  border: 10px solid transparent;
  margin-bottom: 0px;
}

.bingo-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #CFD8DC;
  cursor: pointer;
  transition: all 0.25s ease;
}

.bingo-item:hover {
  background-color: #303F9F;
  color: white;
}

.bingo-text {
  border: 10px solid transparent;
}
